dash==1.14.0
dash-auth==1.4.1
dash-bootstrap-components==0.10.5
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
flask==1.1.2
google-api-core==1.22.1
google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
numpy==1.19.1
pandas==1.1.0
plotly==4.9.0
requests==2.24.0
urllib3==1.25.10
gunicorn